<!DOCTYPE html>
<html lang="zh-CN">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
  <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
  <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
  <script type="text/javascript" src="/source/js/turntopage.js"></script>
  <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
  <title>书影音 | UTOPIA</title>
 </head>

 <body>
  <header>
    <div class="header-inner">
      <script>$(".header-inner").load("/layout/partial/header.html")</script>
    </div>
  </header>

  <div class="author-inner">
    <script>$(".author-inner").load("/layout/partial/author.html")</script>
  </div>

  <div class="main-inner">
   <div class="content">
    <div class="content-inner">
     <div class="sidebar-left">
      <ul class="left-nav">
       <a href="/layout/amusement/index.html"><li class="list-item active">书影音</li></a>
       <a href="/layout/amusement/game.html"><li class="list-item">游 戏</li></a>
      </ul>
     </div>
    
    <div class="middle">
     <div class="middle-bar">
      <i class="fa fa-book" aria-hidden="true"></i>书影音
     </div>

     <div class="middle-content">
      <div class="route">
       <span class="route-item"><i class="fa fa-fort-awesome" aria-hidden="true"></i>日志 > 娱乐 >
       </span>
      </div>

      <div class="post-collapse">
      <ul>
       <a href="/layout/amusement/shuyingyin/ClassicalMusic.html"><li><div class="post-box">
        <span class="post-date">2021-11-10</span><span class="post-name"><font color="red">[置顶]</font> 整理给自己的古典乐百科</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/Neil-Gaiman.html"><li><div class="post-box">
        <span class="post-date">2021-11-02</span><span class="post-name">Ohhh Aaangelll——尼尔·盖曼作品观阅记录</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/HarryPotter.html"><li><div class="post-box">
        <span class="post-date">2021-10-16</span><span class="post-name">重读《哈利·波特》旧7部</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/Utopia.html"><li><div class="post-box">
        <span class="post-date">2021-09-04</span><span class="post-name">希斯拉德游记：《乌托邦》</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/Philip-K-Dick.html"><li><div class="post-box">
        <span class="post-date">2021-03-31</span><span class="post-name">从PKD叔开始的赛博朋克——菲利普·K·迪克作品观阅记录</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/CyberLiterature.html"><li><div class="post-box">
        <span class="post-date">2021-02-23</span><span class="post-name">霸总小说好看吗？好看</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/TheShawshankRedemptionArticle.html"><li><div class="post-box">
        <span class="post-date">2020-11-19</span><span class="post-name">春天的希望：《肖申克的救赎》</span>
       </div></li></a>
       <a href="/layout/amusement/shuyingyin/TheLibraryAtMountChar1.html"><li><div class="post-box">
        <span class="post-date">2020-06-20</span><span class="post-name">父&ensp;爱&ensp;如&ensp;山：《上帝的图书馆》</span>
       </div></li></a>
      </ul>
      </div>
     </div>
    </div>
    <div class="sidebar-right"></div>
    </div>
   </div>
  </div>

   <footer>
     <div class="footer-inner">
       <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
     </div>
   </footer>
   <div class="back-to-top">
    <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
   </div>
 </body>
</html>