<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>重读《哈利·波特》旧7部 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

    <div class="middle">

     <div class="middle-bar">
      <i class="fa fa-paperclip" aria-hidden="true"></i>重读《哈利·波特》旧7部
     </div>

     <div class="middle-content">

      <div class="route">
       <span class="route-item"><i class="fa fa-fort-awesome" aria-hidden="true"></i>日志 > 娱乐 >
        <a href="/layout/amusement/index.html">书影音</a> >
       </span>
      </div>

      <h1>重读《哈利·波特》旧7部</h1>
      <div class="post-meta">
       <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-10-16</span> 
      </div>
      <p>在一张hp paro的人设表的刺激下我决定重新开始读哈利波特七部。大概是一年级到四年级看完的，给我留下的印象只有这似乎是一个很庞大错综复杂的故事，尤其是7。现在作为成年人我读完以后发现其实具体讲的内容不多，比如我印象中阿布福思似乎陪伴了主角很久、去格德里克山谷似乎是一次漫长的旅程，实际上也就一会会。然而小时候看真是觉得HP7是一本很厚很厚的书。 </p>
      <p>成年后我读完的一句话感想：哈利波特用一个不算烂俗的、由明媚转向黑暗曲折的故事，以近乎残酷的方式展现了爱的伟大力量。 
      <br/>哈利波特父母和斯内普的爱就不用说了。邓布利多的爱，韦斯莱夫妇的爱，家养小精灵的爱，友爱；就连最后，伏地魔的倒台也缺少不了德拉科母亲帕西莎对德拉科的爱。</p>
      <p> 能让我做出这样评价的很大一点是罗琳至少在这七本书里所展现出的三观和我非常相符吧。</p>
      <p> 感慨一句罗琳阿姨真是太厉害了，阿姨用很多不经意的手法构造了魔法世界的法制、文化、历史……看到对着赫敏父母开心地叫“快看，他们要去兑换麻瓜货币！”的韦斯莱先生、看到魁地奇杯露营地上穿着花裙子并拒绝穿上正常男士睡衣的老顽固，谁又能不会心一笑呢。明线、暗线，贯穿七本书的线索（虽然我觉得可能有很多所谓的线索都是阿姨后来灵机一动加上的）、对所谓权威无懈可击的理解，包括魔法部机关、预言家日报与霍格沃兹的领导者们。还有很多令我做梦也在回放的英式幽默。 </p>
      <p>但也有让我疑惑的地方，比如食死徒们似乎从来不用凤凰社成员鉴定复方汤剂的方法来鉴定看起来行为就很可疑的主角们。可能就像阿布福思说的：“就你这脑子你可以去做食死徒了吧。” </p>
      <p>HP7就像5.0一样突然给大家灌输了巨大的信息量。不看到最后很难说会对斯内普或者马尔福有什么好感，甚至邓布利多似乎也变得无情无义起来。我觉得《国王十字车站》是在这激动人心的时刻看起来很累赘但却很重要的一章，它让邓布利多不再是一个完美的形象，它告诉了大家年轻的阿布思·邓布利多——虽然可能有自谦的成分在——也是个狂妄自大的少年，是个了不得的魔法天才，企图追求名誉与永生的办法，<b>和伏地魔一模一样</b>，甚至还有一位煽动者（懂的都懂）。但他最终没能走上伏地魔的路，可能这也归功于罗琳阿姨一直强调的“爱”的力量。 </p>
      <p>在读的时候有很多碎思，可惜没有及时做记录。终究需要切到app打断思路，这也是电子书没有纸质书顺手的地方吧。 </p>
      <p>小时候我是最喜欢7、最不喜欢6（当时感觉很无聊）的，把打败伏地魔的场景反复研读。所以当初其实没怎么懂魂器的部分，在hp主题的密室逃脱里吃了瘪。如果现在要我选的话，我会说我最喜欢5，很有一种深渊赘婿的感觉，哈哈哈哈哈（？）我爸在我搬家的那年把我的第一版绝版丢了，我到现在还十分不满，他只说“那也是被翻烂的破书”，气死我辣 </p>
      <p>最后发出我一直以来的疑问：虽然哈利有时候也不怎么讨人喜欢，但是看书入坑的人不到最后真的能喜欢马尔福、斯内普或者说斯莱特林吗……（我也是因为看了电影才会喜欢斯内普）还有我能学会那些阴阳怪气的英式对话吗，太有意思了。 </p>
      <hr />
      <p>（随便摘点）</p>
      <ol>
      <li>“可以容纳十万观众。”韦斯莱先生看到哈利脸上惊愕的表情，说道，“魔法部五百个工作人员为此忙碌了整整一年。这里的每一寸地方都施了驱逐麻瓜咒。这一年当中，每当有麻瓜接近这里，他们就会突然想起十万火急的事情，匆匆地走.....愿上帝保佑他们。”他慈爱地说，领着大家走向最近的入口处，那里已经围满了许多大喊大叫的巫师。 </li>
      <li>韦斯莱先生不停地与人握手，那些人一看就是很有身份的巫师。珀西一次次地匆忙站起，看上去就像坐在满身是刺的豪猪背上。</li>
      <li> 如果一样东西你从没见过，你又怎么在它面前保护自己呢？ </li>
      <li>“是啊，说到珀西，他可不愿在任何一个有幽默感的人手下工作，是不是？”罗恩说，他现在又开始吃一块巧克力松饼了，“一个笑话哪怕只戴着多比的茶壶保暖套，几乎是光着身子在他面前跳舞，他也认不出来。” </li>
      <li>“你用不着那样压抑自己的怒火，哈利，把它都发泄出来吧，”弗雷德也是满脸带笑，“五十英里之外大概还有两个人听不见你的声音呢。”</li>
      <li> “在内心深处，福吉知道邓布利多比他有智慧得多，法力也比他厉害得多。他刚开始当部长的时候，还三天两头地向邓布利多讨教、求助。”卢平说，“但是后来他似乎喜欢上了权力，信心也增强了。他迷恋当魔法部长的感觉，而且他使自己相信，他才是有智慧的人，邓布利多只是为此故意制造事端。”
       <br/>“他怎么能那么想呢？”哈利生气地说，“他怎么能认为邓布利多会凭空编造——我会凭空编造呢？”
      <br/>“因为如果承认伏地魔回来了，就意味着有大麻烦，这种麻烦魔法部已经有将近十四年没有碰到了。”小天狼星尖刻地说，“福吉只是没有勇气面对这件事。他让自己相信邓布利多是在散布谣言，破坏他的稳定地位，这样一想就轻松多了。”</li>
      <li>“是啊，”卢娜恍恍惚惚地说，眼睛仍然死死盯着哈利，“是啊，过得挺愉快的。你是哈利波特。”她紧跟着说了一句。 
       <br/>“这我知道。”哈利说。</li>
      <li>“别撒谎了，哈利，”她不耐烦地说，“罗恩和金妮说你从圣芒戈回来后就一直躲着大家。 ” 
       <br/>“他们这么说的？”哈利瞪着罗恩和金妮。罗恩低头看着脚，金妮好像并没有什么不好意思。
      <br/>“就是嘛！”她说，“你都不看我们! ”
      <br/>“是你们不看我！”哈利气愤地说。 
      <br/>“也许你们轮流看来看去， 就是对不上。”赫敏说，嘴角轻轻颤动。</li>
      <li>霍格沃茨高级调查官令
      <br/>任何学生如被发现携有《唱唱反调》杂志，立即开除。 
      <br/>以上条例符合《第二十七号教育令》 
      <br/>签名: 高级调查官 多洛雷斯·简·乌姆里奇
      <br/>不知为何，赫敏看到这些告示就抿着嘴乐。
      <br/> “你高兴什么？”哈利问她。
      <br/>“哦，哈利，你看不出来吗？”赫敏小声说，“如果她能做一件事绝对保证学校里每个人都会读采访你的文章，那就是禁止它！”</li>
      <li>“邓布利多说，人们容易原谅别人的错误，却很难原谅别人的正确。”赫敏说，“我听见他跟你妈妈说的，罗恩。”</li>
      <li>“说了，”赫敏一边说，一边翻动松脆的书页，就像在检查腐烂的内脏似的，“书里提醒黑巫师必须让魂器上的魔咒非常强大才行。从我读到的内容看，哈利对付里德尔那本日记的做法，就是少数几种绝对可靠的摧毀魂器的方式。”
       <br/>“什么，用蛇怪的毒牙刺它？”哈利问。
       <br/>“嗬，好啊，幸亏我们有这么多蛇怪的毒牙，”罗恩说，“我还发愁拿它们怎么办呢。”</li>
      <li>看到哈利和罗恩脸上不解的神情，赫敏急忙继续说道：“比如，罗恩，我现在拿起一把宝剑，刺穿你的身体，你的灵魂还是安然无恙。”
       <br/>“那可真是不幸中的万幸。”罗恩说。
       <br/>哈利笑了起来。 </li>
      <li>“你打算将来从事魔法法律的职业吗，格兰杰小姐？”斯克林杰问。 
       <br/>“不是，”赫敏反唇相讥，“我希望在世上做些好事！”</li>
      <li>“我注意到你的生日蛋糕是一个飞贼的形状，”斯克林杰对哈利说，“为什么？”
       <br/>赫敏大声发出嘲笑。
       <br/>“哦，不可能是指哈利是个出色的找球手，那太明显了，”她说，“糖霜里肯定藏着邓布利多的一条秘密情报！”</li></ol>
      <div class="post-copyright">
       <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
      </div>
      <div class="valine-box">
       <script>$(".valine-box").load("/layout/partial/valine.html")</script>
      </div>
     </div>
    </div>
   <div class="sidebar-right">
   </div>


  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>