<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>Ohhh Aaangelll——尼尔·盖曼作品观阅记录 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

    <div class="middle">

     <div class="middle-bar">
      <i class="fa fa-paperclip" aria-hidden="true"></i>Ohhh Aaangelll——尼尔·盖曼作品观阅记录
     </div>

     <div class="middle-content">

      <div class="route">
       <span class="route-item"><i class="fa fa-fort-awesome" aria-hidden="true"></i>日志 > 娱乐 >
        <a href="/layout/amusement/index.html">书影音</a> >
       </span>
      </div>

      <h1>Ohhh Aaangelll——尼尔·盖曼作品观阅记录</h1>
      <div class="post-meta">
       <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-11-02</span> 
       <!--<span class="post-meta-item"><i class="fa fa-calendar-check-o" aria-hidden="true"></i>更新于 20??-??-??</span>-->
      </div>
      <p>随手点开了《坟场之书》，看见是获了什么奖然后被各种吹，看完后觉得emmm好像也就那样？像本儿童读物（可能就是儿童读物？）差点弃坑四次，因为沉没成本最终还是看完了。脑洞还不错啦，故事也很温暖<del>请告诉我去哪里找赛拉斯这样的男妈妈</del>，就是复仇看起来和某乙女游戏的战争一样简单(哈哈)</p>
      <p>然后才发现这作者是《美国众神》和《Good Omens》原作的作者，草，该补了该补了jpg</p>
      <h2>《坟场之书》<br/><sup style="font-size:14px;opacity:.7;">2021-11-02读完</sup></h2>
      <p>这个故事告诉我们，没有法师能打败预言家，你打破预言的行为已经被预言预知到了——说的就是你，伏地魔！</p>
      <ul><li>“你是说他们自杀了？”伯蒂睁大眼睛，好奇地问。他快八岁了，但他不笨。
       <br/>“没错。”
       <br/>“那有用吗?他们死后更快乐了吗？”
       <br/>“个别这样，但大多数人没有，就像有些人相信自己换个地方生活就会更快乐，去了后却发现并非如此。无论你去哪里，你还是你。你听懂我说的这句话了吗？”
       <br/>“懂那么一点儿吧。”
       <br/>赛拉斯弯下腰，摸了摸伯蒂的头。</li>
       <li>一想到那双黑眼睛冒出怒火，或更糟糕的情况——显露出失望，他就会满心羞愧。</li>
       <li>“你是问，除了穿以外有什么用？嗯，首先，我想你已经挺大了。你多大了？十岁了吧？一般来说，活人穿衣服比较讲究。既然你总有一天要像活人一样穿衣服，为什么不从现在起就养成习惯呢？而且这些衣服也可用作伪装。”
        <br/>“什么是伪装？”
        <br/>“让一样东西在别人看来是另一样东西。”</li>
       <li>“没错。”赛拉斯犹豫了，“他们的确是死人，而且大体也与这个世界没有了联系。可你不同，你还活着，伯蒂。这意味着你有无限的潜能。你什么事都能做，什么东西都能创造，什么梦想都能挑战。如果你想要改变世界，世界就会因你而改变。这就是潜能。可你一死，潜能就没了，就什么都没了。你有所成就，有所突破，还在世间留下了你的名字。你可能会被埋在这里，甚至还能行走，可你没了潜能。”</li>
       <li>“你不蠢。你需要身处同类之中，这完全合情合理。但外头的活人世界远比坟场更加错综复杂，我们无法像在这里一样相对轻松地保护你。我想保证你的绝对安全。”他接着说，“可对你们人类来说，绝对安全的地方只有一处，而只有历经人生百态，看一切都云淡风轻后，你才能到那里去。”</li>
       <li>“人们想忘却超乎常理的东西，这样能让他们的世界更安全。”</li>
      </ul>
      <p>看到作者的后记，发现全天下oc人都是一个心态啊，有 朝 一 日。<del>作者是练成了，那我呢？</del></p>
      <div class="post-copyright">
       <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
      </div>
      <div class="valine-box">
       <script>$(".valine-box").load("/layout/partial/valine.html")</script>
      </div>
     </div>
    </div>
   <div class="sidebar-right">
   </div>


  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>