<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>希斯拉德游记：《乌托邦》 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/amusement/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

    <div class="middle">

     <div class="middle-bar">
      <i class="fa fa-paperclip" aria-hidden="true"></i>希斯拉德游记：《乌托邦》
     </div>

     <div class="middle-content">
      <div class="route">
       <span class="route-item"><i class="fa fa-fort-awesome" aria-hidden="true"></i>日志 > 娱乐 >
        <a href="/layout/amusement/index.html">书影音</a> >
       </span>
      </div>
      <h1>希斯拉德游记：《乌托邦》</h1>
      <div class="post-meta">
       <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-09-04</span> 
      </div>
      <p>天马行空的想象力创造了乌托邦，依然有些局限性，比如无法脱离已经存在的制度、宗教框架等<del>并且依然是妻子服侍丈夫等各种意义上有宗法制影子的社会</del>。但是以此提出的社会问题非常通透，对社会问题的看法也一针见血。
       <br>在这样的前提下，很难说乌托邦人到底是入世还是出世呀hhhh
       <br><p style="text-align:right;">—— 2021.08.28点评于微信阅读&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;</p></p></br>
       <p><del>其实还蛮意外的，本来是因为oc的一些内容来看的这本书，结果乌托邦的首都叫亚马乌罗提，讲述这个游记的人叫希斯拉德，草。最近正好搞狒狒14的古代人搞得有点上头，突然考据了起来（。</del></p>
       <hr>
       <h2>关于本书</h2>
       <div class="table-container"><table>
       <thead>
       <tr><th><strong>书名</strong></th><th>《乌托邦》</th><th><strong>作者</strong></th><th>[英] 托马斯·莫尔</th></tr></thead>
       <tbody><tr><td><strong>出版社</strong></td><td>陕西师范大学出版社</td><td><strong>出版时间</strong></td><td>2020年5月</td></tr><tr><td><strong>阅读日期</strong></td><td>2021年8月</td><td><strong>我的评分</strong></td><td>★★★★☆</td></tr></tbody>
       </table></div>
       <h2>书摘</h2>
       <ul>
        <li>因为如果一个盗窃犯知道对盗窃的惩罚和对谋杀的一样，他就会杀害那个他原本只想抢劫的人。</li>
        <li>赞美诗作者说，“你们可以愤怒，但不要犯罪。</li>
        <li>人一旦有钱了，就不想接受严苛而不公正的命令。相反，贫穷会消磨人的意志力，使他们习惯于忍受，使受压迫者丧失高贵的反抗精神。</li>
        <li>我完全同意那些人不会理解。而且我认为，你既然认定了你们观点不同，就不需要把你的看法强加于他们了，也不用给他们提意见。他们的脑海里已经有截然不同的意见了，你的建议对他们又有何益？可以打动他们吗？在好友的聊天儿中，你的这套哲学理论不失为是风趣的，可是拿到议论国家大事的国王会议上，这些想法是不会被重视的。</li>
        <li>不管你要演什么戏剧，都要尽力演好，而不要因为想到了更有趣的东西而把它搞砸了。</li>
        <li>从另一个角度来说，你不能把别人难以接受的意见强加于别人，而要见机行事。而对于你无法使之好转的事情，也不可以搞破坏。因为所有的事情都是好事情是不可能的，除非所有人都是好人，我也不敢奢望这个目标可以在不久的将来实现。</li>
        <li>然而狡猾的传教士发现人们不愿意按照基督的要求改正自己的错误之后，竟然变通了基督的教义，好像它是一根软尺，可以随意适应世人的道德观，以使得二者至少在某些情形中相同。</li>
        <li>在国王的面前，一个人就算装聋作哑也不会被忽视。你必须赞扬最糟糕的建言，应和最差劲儿的谕旨。只要不对坏意见拍案叫绝，你几乎就被视为叛徒。而且，你没有任何机会去做有益的事情，因为和你共事的同事们是那种能够在他们自己被改造之前，先带坏好人的人。和这种人共事，你要么被拖下水，要么始终保持正直而为别人做的坏事打掩护。因此你的间接方法永远无法发挥作用。</li>
        <li>我觉得，只要有私有制的地方，就难以有公正和繁荣。因为人们会用钱衡量所有事物。</li>
        <li>如果人人都力图对自己可以获得的财产绝对占有，那么无论物资多么丰盈，都还是归少数人所有，其余的人依然贫穷。</li>
        <li>一个人如果没有事关自身利益的动力，他就好逸恶劳，只希望别人辛勤劳动。</li>
        <li>我们的人只是意外地漂流到了他们那里，他们竟因此受益匪浅。如果是我们，任何从乌托邦漂流到我们这里的人，都会被我们忘得一干二净，正如我们的后世也会把我曾经到过那里的事情完全忘记一样。</li>
        <li>其实如果你考虑到其他国家有多么大一部分国民是无所事事的，你就会很容易理解这一点。</li>
        <li>允许人们有足够的时间来丰富他们的精神世界，这是必要的，他们认为这才是人生的快乐所在。</li>
        <li>对所有生物来说，贪婪的欲望都来自对供给不足的恐惧；但是对人类而言，则出于他们的虚荣心，即认为炫耀一下自己所拥有的东西比别人多是值得骄傲的事情。</li>
        <li>他们深知只要有足够的钱，就可以收买敌人并让他们出卖自己的国家，或者使心怀鬼胎的人们相互残杀。</li>
        <li>大自然所赋予的金银的全部用途，对我们而言都不是必要的，而愚蠢的人类却将其视为物以稀为贵。</li>
        <li>他们还觉得奇怪的是，黄金本身没有任何用途，却在世界各地都这么被重视，甚至人命不如黄金有价值，而黄金之所以如此昂贵，是因为人为所致以及要供人使用。一个完全没有才能的人，又笨又坏，只是因为他有许多金币，就会有许多聪明善良之人来侍奉他。</li>
        <li>这些财富就都将从主人手里转移到整个家族中最穷的恶棍手里，而主人也将成为这个恶棍的一个仆人，似乎他是财富的附加物。</li>
        <li>虽然他们没有欠富人任何东西，也并不受富人的掌控，但是仅仅因为富人有钱，他们就几乎给富人神圣化的荣誉。而且这些人都知道有钱人贪婪且吝啬，他们深知，只要富人活着，就绝不会从他堆积成山的金币中取出一分钱分给他们。</li>
        <li>如果一个人没有任何得到回报的希望，有什么奖励是可以贯穿整个人生的呢？不仅没有快乐，而且还要遭受痛苦，死后都没有什么可以期待的。</li>
        <li>其他人对你脱帽行屈膝之礼，能够给你带来什么真正的快乐呢？这个礼仪可以治好你的膝盖疼痛以及你的精神失常吗？</li>
        <li>可是如果你不会辨别真假，冒牌的宝石不是也一样会使你满意吗？是真是假对一个瞎子而言是同样宝贵的。</li>
        <li>还有一种人，以积攒多余的钱财为爱好，只欣赏积攒的财富，而不肯把钱花掉，应该如何评论这种人呢？他们是真正地享受快乐还是被虚假的快乐欺骗了呢？另一种人则有不同的想法，他们把金子藏得严严实实，永远不使用，甚至不再取出欣赏，唯恐丢失，这样倒是永远把金子失去了。又应该如何评价这种人呢？他们存着黄金不用，也不允许其他任何人使用，而只把它埋藏在地下，这如果不是失去的话是什么呢？</li>
        <li>即使其中有一丝乐趣，你经常玩，也总会生厌的。</li>
        <li>健康本身就是快乐之源。</li>
        <li>他们早就否定了一种观点，即安逸的健康生活（他们也曾经就这个问题展开过激烈的讨论）不是真正的快乐，因为只有通过外部事物，才可能感受到这种快乐。如今他们却一致认同健康最能带来快乐。他们不解，既然疾病带来了苦头，痛苦是快乐最大的敌人，这如同疾病是健康的敌人一样浅显易懂，那么我们为什么不能从安逸的健康中得到快乐呢？</li>
        <li>但是，乌托邦人认为有一种态度是疯狂的、残忍的，也是忘恩负义的，这种态度即鄙视美好，损害矫健的体魄，刻意变敏捷为迟钝蠢笨，因为节食而伤害身体，糟蹋自己的身体健康，以及摒弃大自然赐予的一切恩惠（如果一个人是为了替别人或者公众谋求快乐而忽视了自己的利益，基于这种牺牲，上帝会赐予他更多快乐；如果不是这样，那么则是为了博得虚无的声望而苛刻地对待自己而又无益于任何人，或者为了磨炼自己而使自己承担无法忍受的艰苦）。这种态度不屑于感恩自然的馈赠，也拒绝大自然赐予我们的一切欢愉。</li>
        <li>然而任何野兽之间的战争都不会像人类的战争这么频繁。</li>
        </ul>
      <div class="post-copyright">
       <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
      </div>
      <div class="valine-box">
       <script>$(".valine-box").load("/layout/partial/valine.html")</script>
      </div>
     </div>
    </div>
   <div class="sidebar-right">
   </div>


  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
</html>