<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/lib/lazyload/jquery.lazyload.min.js"></script>
 <link type="text/css" rel="styleSheet" href="/lib/jquery.fancybox.min.css"/>
 <script type="text/javascript" src="/lib/jquery.fancybox.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>冒险者你梦该醒了 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
      <a href="/layout/diary/index.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
    </ul>
   </div>

    <div class="middle">

     <div class="middle-bar">
      <i class="fa fa-paperclip" aria-hidden="true"></i>冒险者你梦该醒了
     </div>

     <div class="middle-content">

      <div class="route">
       <span class="route-item"><i class="fa fa-fort-awesome" aria-hidden="true"></i>日志 > 随笔 >
        <a href="/layout/diary/index.html">记事</a> >
       </span>
      </div>

      <h1>冒险者你梦该醒了</h1>
      <div class="post-meta">
       <span class="post-meta-item"><i class="fa fa-calendar-o" aria-hidden="true"></i>发表于 2021-11-29</span> 
      </div>
      <p>今天和一位在某bot上认识的人闹掰了，导火索是他是高强度人而我这个月没怎么上线。把我删掉之前他给我留言“希望你在找cp时能好好想想自己想要什么”。</p>
      <p>我或许一直都很明白自己想要什么，所以在逛某bot的时候很坚定要找不涉三的……但是这句话还是给我带来了一些情绪上的波动，于是今天下午我进行了一段反思。在与他相处的过程中我时常琢磨他的话，感觉他在当代基本盘下非常的典型，有些不自知的厌女（但渴女…）具体就不说了，有些不愿再看到那些内容。越与他深入聊天就越觉得受到一些冒犯，但止步于三观碰撞前、一起打游戏、进行一些游戏内容交流还是很开心的。于是这个月也是有意要疏远他吧，目前也是如愿以偿了，笑，我需要一个和我聊得来的玩伴，我想他也是。如果他觉得和我挺聊得来的，可能只是因为我知道有些话说出来人不爱听吧。</p>
      <p>于是进而想到这个游戏给我带来了什么我想要的呢。一个不错的剧情——至少我非常喜欢古代人的故事线，可能多少出于对浪漫的向往。亚马乌罗提是乌托邦的首都，我在搞oc时一直以来都有意倾向于乌托邦般的蓝本，世界观名字直接就是“Ukitopia”，很没文化地简单粗暴，意为“Uki&#39;s Utopia”。古代人的故乡比《乌托邦》中的亚马乌罗提更理想，可能是归功于现实世界不存在的、无所不能的创造魔法。至少我现在还是很期待之后能在6.0看到一些古代人相关的。</p>
      <p>成就感？我曾认为打高难很厉害，成功压制会给我带来无可比拟的快乐与成就感。我很幸运，刚满级不久便有人愿意带我打高难，第一道关卡是5.4版本的极绿。我去打了，也过了，但我发现跳出成就时我并没有那般料想的兴奋与狂喜。反而在狂暴未过本时，一种对于时间与精力浪费的矛盾与烦躁和对沉没成本的不甘同时支配了我——好在最后是过了，但我也即时止损了。于是今天下午我琢磨通了，正如我玩FE3H那样，我所热爱的只是以一本不错的剧本进行一段沉浸式的剧情游戏体验（主角(我)有光环的话更能令我振奋）；至于是以简单通关还是以极难通关，带给我的体验只有“我快打困了”和“我打的烦死了”的区别，顶多是不利于沉浸式体验罢了。</p>
      <p>然后我完全悟了，在通过主线后很长一段时间里这个游戏带给我的快乐源泉有二：一是体验新的职业（但是由于只想研究满级循环导致升级让我很腻……），二是和我的小部队小伙伴们一起下本讲相声。至于构造私设光(古代人)的故事，已经脱离游戏本身的范畴了。而现在我曾经玩得来的五个小伙伴们一个接一个现充去了（哈哈），这也是为什么我决定去某bot交新朋友然后认识了他的原因。5.5更新主线的时候我是那样兴奋得不能自己，在失手破坏了游戏源文件后我感觉天都塌了。我为什么不愿承认呢，我就是主线党啊！起码是80%的主线党，剩下20%纯粹出于我对打本还是有那么一丝热爱的——热爱探索的过程，这个过程不能太长也不能太短，过气极神就刚刚好。我和闹掰的那位一起组了个过气极神体验队，目前成为了我在这个游戏6.0更新前唯一的牵挂了。如果6.0是海德林和佐迪亚克故事的结局的话……对不起虽然这个游戏有很多我喜欢的地方（绝大部分是觉得制作组非常认真有情怀很难得），但是古代人在我心中实在是太给这个游戏加分了。</p>
      <p>所以，这个游戏到底给我带来了什么我想要的呢——让我认识了和我一起画画的软老婆！（和很久没一起下本讲相声的小伙伴笑死）和软老婆一起互相鼓励互相督促画了两个月画，我们都肉眼可见地飞速进步！和老婆相遇是我上辈子拯救了好几个世界修来的结果吧.jpg 而契机不过是我做好玩单机的准备，出于对新鲜故事的渴望——是的，仅仅是渴望看到一些与众不同的新故事——想随便看看ff14的剧情，在动态绝育期间、官方推荐我去猪区时竟然因为觉得陆行鸟名字最正常而成为了鸟区拉诺的芽，而已！</p>
      <p>周五在地铁上时随性摸了摸鱼，一开始只是想画点qq人，但一些莫名的力量促使我摸了摸我的肥。我想我也没兴趣再画下去了、就这样吧，作为一段冒险旅途的终点，以我又了解了一点点自己作为道路的里程碑之一——我在这个游戏上耗费的时间和精力已经远远超出我的预期了，但探索自己的过程又何尝没有乐趣。而我现在只希望6.0的剧情值得。</p>
      <p>（正好12月1号要在微博打卡了笑死也算是一个新阶段的开始吧虽然没觉得自己能每天坚持…想了想还是在微博(my rubbish bin)打卡好了比起微博其他即时社交平台我更不用！）</p>
      <p>谢谢se把肥肥做得那么可爱。至少我没有后悔在2021年还能玩到这样一款良心游戏。</p>
      <div class="img-box">
       <div class="img-pic"><a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/2021.11.27.jpg">
       <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/2021.11.27.jpg" alt="幼年Kerwin"></a></div><p>2021-11-27</p>
      </div>
      <p>最后的最后，引用一句微博网友的话作为我反思的结论：<br/><b>很有意思，19年的我、20年的我和21年的我就是三种截然不同的傻逼。</b>  ——By Leklchenn</p>
      <div class="post-copyright">
       <script>$(".post-copyright").load("/layout/partial/copyright.html")</script>
      </div>
      <div class="valine-box">
       <script>$(".valine-box").load("/layout/partial/valine.html")</script>
      </div>
     </div>
    </div>
   <div class="sidebar-right">
   </div>


  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
<script>
 $(function(){
  $("img").lazyload({
   placeholder : "https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/loading.gif",
   effect : "fadeIn",
  });
 });
</script>
</html>