<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link type="text/css" rel="styleSheet" href="/source/css/main.css"/>
 <link rel="stylesheet" href="/source/css/font-awesome.min.css"/>
 <script type="text/javascript" src="/lib/jquery-3.5.1.min.js"></script>
 <script type="text/javascript" src="/lib/lazyload/jquery.lazyload.min.js"></script>
 <link type="text/css" rel="styleSheet" href="/lib/jquery.fancybox.min.css"/>
 <script type="text/javascript" src="/lib/jquery.fancybox.min.js"></script>
 <script type="text/javascript" src="/source/js/turntopage.js"></script>
 <link rel="icon" href="https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/favicon.png"/>
 <script src='https://unpkg.com/valine/dist/Valine.min.js'></script>
 <title>速(man)写 | UTOPIA</title>
</head>
<body>
 <header>
  <div class="header-inner">
   <script>$(".header-inner").load("/layout/partial/header.html")</script>
  </div>
 </header>

<div class="author-inner">
 <script>$(".author-inner").load("/layout/partial/author.html")</script>
</div>

<div class="main-inner">

 <div class="content">
  <div class="content-inner">
   <div class="sidebar-left">
    <ul class="left-nav">
     <a href="/layout/album/practice.html"><li class="list-item"><i class="fa fa-angle-left" aria-hidden="true"></i>返 回</li></a>
   </ul>
   </div>

    <div class="middle">

     <div class="middle-bar">
      <i class="fa fa-paperclip" aria-hidden="true"></i>速(man)写
     </div>

     <div class="middle-content">

      <div class="route">
       <span class="route-item"><i class="fa fa-fort-awesome" aria-hidden="true"></i>相册 > 画集 >
       <a href="/layout/album/practice.html">练习</a> >
       </span>
      </div>
      
      <div class="album-content">
        
       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-22.01.07.jpg">
         <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-22.01.07.jpg" alt=""></a>
        </div><p>2022.01.07</p></div>
        
       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-22.01.06.jpg">
         <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-22.01.06.jpg" alt=""></a>
        </div><p>2022.01.06</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-22.01.05.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-22.01.05.jpg" alt=""></a>
       </div><p>2022.01.05</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.13.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.13.jpg" alt=""></a>
       </div><p>2021.11.13</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.12.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.12.jpg" alt=""></a>
       </div><p>2021.11.12</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.02.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.02.jpg" alt=""></a>
       </div><p>2021.11.02</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.01.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.11.01.jpg" alt=""></a>
       </div><p>2021.11.01</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.25.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.25.jpg" alt=""></a>
       </div><p>2021.10.25</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.08.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.08.jpg" alt=""></a>
       </div><p>2021.10.08</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.07.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.07.jpg" alt=""></a>
       </div><p>2021.10.07</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.05.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.10.05.jpg" alt=""></a>
       </div><p>2021.10.05</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.29.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.29.jpg" alt=""></a>
       </div><p>2021.09.29</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.25.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.25.jpg" alt=""></a>
       </div><p>2021.09.25</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.24.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.24.jpg" alt=""></a>
       </div><p>2021.09.24</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.22.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.22.jpg" alt=""></a>
       </div><p>2021.09.22</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.21.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.21.jpg" alt=""></a>
       </div><p>2021.09.21</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.20.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.20.jpg" alt=""></a>
       </div><p>2021.09.20</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.19.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.19.jpg" alt=""></a>
       </div><p>2021.09.19</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.18.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.18.jpg" alt=""></a>
       </div><p>2021.09.18</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.17.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.17.jpg" alt=""></a>
       </div><p>2021.09.17</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.16.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.16.jpg" alt=""></a>
       </div><p>2021.09.16</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.15.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.15.jpg" alt=""></a>
       </div><p>2021.09.15</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.14.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.14.jpg" alt=""></a>
       </div><p>2021.09.14</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.13.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.13.jpg" alt=""></a>
       </div><p>2021.09.13</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.12.jpg">
        <img style="object-position: 1px 0;" data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.12.jpg" alt=""></a>
       </div><p>2021.09.12</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.11.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.11.jpg" alt=""></a>
       </div><p>2021.09.11</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.10.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.10.jpg" alt=""></a>
       </div><p>2021.09.10</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.09.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.09.jpg" alt=""></a>
       </div><p>2021.09.09</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.08.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.08.jpg" alt=""></a>
       </div><p>2021.09.08</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.07.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.07.jpg" alt=""></a>
       </div><p>2021.09.07</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.06.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.06.jpg" alt=""></a>
       </div><p>2021.09.06</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.05.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.05.jpg" alt=""></a>
       </div><p>2021.09.05</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.04.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.04.jpg" alt=""></a>
       </div><p>2021.09.04</p></div>
       
       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.03.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.03.jpg" alt=""></a>
       </div><p>2021.09.03</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.02.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.02.jpg" alt=""></a>
       </div><p>2021.09.02</p></div>

       <div class="album-box"><div class="album-pic">
        <a data-fancybox="gallery" href="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.01.jpg">
        <img data-original="https://utopia-1302421215.cos.ap-shanghai.myqcloud.com/Sketch-21.09.01.jpg" alt=""></a>
       </div><p>2021.09.01</p></div>

       </div>

     </div>
    </div>
   <div class="sidebar-right">

   </div>


  </div>
 </div>
</div>

<footer>
 <div class="footer-inner">
  <script>$(".footer-inner").load("/layout/partial/footer.html")</script>
 </div>
</footer>
<div class="back-to-top">
 <script>$(".back-to-top").load("/layout/partial/backtotop.html")</script>
</div>
</body>
<script>
 $(function(){
  $("img").lazyload({
   placeholder : "https://cdn.jsdelivr.net/gh/ukityh/ukityh.github.io@master/source/imgs/loading.gif",
   effect : "fadeIn",
  });
 });
</script>
<script type="text/javascript" src="/source/js/nocopy.js"></script>
</html>